In [9]:
import pandas as pd

data = {'name' : ['둘리', '또치', '도우너', '희동이'],
        'kor' : [90, 80, 70, 70],
        'eng' : [99, 98, 97, 46],
        'mat' : [90, 70, 70, 60]
       }

df = pd.DataFrame(data)
df['class'] = [str(i) + '반' for _ in range(2) for i in [1, 2]]
print(df)

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반

In [10]:
df.loc[4] = ['마이콜', 80, 80, 80, '1반']
print(df)

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반
4  마이콜   80   80   80    1반

In [11]:
df.set_index('name', inplace=True)
df.rename(columns={'kor':'국어', 'eng':'영어', 'mat':'수학', 'class':'반번호'}, inplace=True)
print(df)

      국어  영어  수학 반번호
name
둘리    90  99  90  1반
또치    80  98  70  2반
도우너   70  97  70  1반
희동이   70  46  60  2반
마이콜   80  80  80  1반

In [12]:
df.loc['마이콜', ['국어', '영어', '수학']] = 100, 100, 100
df.loc['희동이', '영어'] = 90
print(df)

       국어   영어   수학 반번호
name
둘리     90   99   90  1반
또치     80   98   70  2반
도우너    70   97   70  1반
희동이    70   90   60  2반
마이콜   100  100  100  1반

In [13]:
df.reset_index(inplace=True)
print(df)
df.rename(columns={'name':'성명'}, inplace=True)
print(df)

  name   국어   영어   수학 반번호
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
4  마이콜  100  100  100  1반
    성명   국어   영어   수학 반번호
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
4  마이콜  100  100  100  1반

In [14]:
df1=df.sort_values(by='국어', ascending=False)
df2=df.sort_values(by='영어')
print(df1, '\n', df2)

    성명   국어   영어   수학 반번호
4  마이콜  100  100  100  1반
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
     성명   국어   영어   수학 반번호
3  희동이   70   90   60  2반
2  도우너   70   97   70  1반
1   또치   80   98   70  2반
0   둘리   90   99   90  1반
4  마이콜  100  100  100  1반

In [20]:
df['총점'] = df['국어'] + df['영어'] + df['수학']
df.sort_values(by='총점', ascending=False)
print(df)

    성명   국어   영어   수학 반번호   총점
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220
4  마이콜  100  100  100  1반  300

In [16]:
df3=df.drop('반번호', axis=1)
print(df3, '\n', df1)

    성명   국어   영어   수학   총점
0   둘리   90   99   90  279
1   또치   80   98   70  248
2  도우너   70   97   70  237
3  희동이   70   90   60  220
4  마이콜  100  100  100  300
     성명   국어   영어   수학 반번호
4  마이콜  100  100  100  1반
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반

In [19]:
df4=df.drop(4, axis=0)
print(df4, '\n', df)

    성명  국어  영어  수학 반번호   총점
0   둘리  90  99  90  1반  279
1   또치  80  98  70  2반  248
2  도우너  70  97  70  1반  237
3  희동이  70  90  60  2반  220
     성명   국어   영어   수학 반번호   총점
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220
4  마이콜  100  100  100  1반  300

In [ ]:
data1 = {'kor':90, 'mat':80}
data2 = {'kor':90, 'eng':70}
data3 = {'kor':90, 'eng':70, 'mat':80}
series1 = pd.Series(data1)
series2 = pd.Series(data2)
series3 = pd.Series(data3)
result = series1.add(series2.add(series3, fill_value=0), fill_value=0)
print(result)

In [ ]:
data = {
    'X1':[2.9, 2.4, 2, 2.3, 3.2],
    'X2':[9.2, 8.7, 7.2, 8.5, 9.6],
    'X3':[13.2, 11.5, 10.8, 12.3, 12.6],
    'X4':[2, 3, 4, 3, 2]
} 
df = pd.DataFrame(data, index=['Y1','Y2','Y3', 'Y4', 'Y5'])
print(df)
df.loc['Y6'] = [10, 20, 30, 40]
print(df)
df += 10
print(df)
df['total'] = df['X1'] + df['X2'] + df['X3'] + df['X4']
print(df)
print(df.transpose())