In [2]:
import pandas as pd

data = {0: 10, 1:20, 2:30, 3:40, 4:50}
sr = pd.Series(data)

print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
data1 = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
sr1 = pd.Series(data1)

print(type(sr1))
print(sr1)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
data2 = {'학생1':'둘리', 
         '학생2':'또치',
         '학생3':'도우너',
         '학생4':'희동이',
         '학생5':'마이콜'}
sr2 = pd.Series(data2)

print(type(sr2))
print(sr2)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [8]:
data_idx = []
for i in range(1, 6):
    data_idx.append('학생' + str(i))
data_l = ['둘리', '또치', '도우너', '희동이', '마이콜']
sr_l = pd.Series(data_l, index=data_idx)

print(type(sr_l))
print(sr_l)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [9]:
blood = ['A형', 'B형', 'O형', 'AB형']
st = [34.2, 27.1, 26.7, 11.5]
sr = pd.Series(st, index=blood)

print('[시리즈 sr 출력]')
print(sr)
print('[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]')
for i in [0, 3, 1]:
    print(sr[i])
print(sr[1:4])
print('[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]')
for i in [blood[0], blood[3], blood[1]]:
    print(sr[i])
print(sr.loc['B형':'AB형'])
print('[시리즈 sr의 크기 출력]')
print(len(sr))
print('[시리즈 sr의 인덱스 출력]')
print(sr.index)
print(sr.values)

[시리즈 sr 출력]
A형     34.2
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr의 크기 출력]
4
[시리즈 sr의 인덱스 출력]
Index(['A형', 'B형', 'O형', 'AB형'], dtype='object')
[34.2 27.1 26.7 11.5]

In [5]:
data = {'name' : ['둘리', '또치', '도우너', '희동이'],
        'kor' : [90, 80, 70, 70],
        'eng' : [99, 98, 97, 46],
        'mat' : [90, 70, 70, 60]
       }

df = pd.DataFrame(data)
print(df)
# display(df)

  name  kor  eng  mat
0   둘리   90   99   90
1   또치   80   98   70
2  도우너   70   97   70
3  희동이   70   46   60

  name  kor  eng  mat
0   둘리   90   99   90
1   또치   80   98   70
2  도우너   70   97   70
3  희동이   70   46   60

In [11]:
rownames = []
for i in range(4):
    rownames.append('학생' + str(i + 1))

df.index = rownames

print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
    name  kor  eng  mat
학생1   둘리   90   99   90
학생2   또치   80   98   70
학생3  도우너   70   97   70
학생4  희동이   70   46   60

In [12]:
rownames2 = []
for i in range(4):
    rownames2.append('st' + str(i + 1))
df.index = rownames2
df.columns = ['dooly', 'doochi', 'dounar', 'heedong']
print(df)

    dooly  doochi  dounar  heedong
st1    둘리      90      99       90
st2    또치      80      98       70
st3   도우너      70      97       70
st4   희동이      70      46       60

data = {
    'name':['듀크' + str(i) for i in range(1, 8)],
    'kor':[90, 80, 70, 70, 60, 70, 90],
    'eng':[99, 98, 97, 46, 77, 56, 90],
    'mat':[90, 70, 70, 60, 88, 99, 90]
}
df = pd.DataFrame(data)
print(df.head(5))
print(df.tail(5))
print(df.columns)
print(df['name'])
print(df.eng)
print(df[['kor', 'mat']])
print('iloc 함수 사용 ----------------')
print(df.iloc[3])
print(df.iloc[0][0])
print(df.iloc[3][2])
print(df.iloc[2:4, 2])
print(df.iloc[2:4, 2:4])
print('loc 함수 사용 ----------------')
print(df.loc[3])
print(df.loc[0]['name'])
print(df.loc[3]['eng'])
print(df.loc[2:3,'eng'])
print(df.loc[2:3, ['eng', 'mat']])

In [41]:
df.index = df.name
df.drop('name', axis=1, inplace=True)
print(df)

      kor  eng  mat
name
듀크1    90   99   90
듀크2    80   98   70
듀크3    70   97   70
듀크4    70   46   60
듀크5    60   77   88
듀크6    70   56   99
듀크7    90   90   90